body {
    font-family: Roboto;
    font-size: 35px;
    background-color: #0f0f0f;
}

.vboy-buttons {
    color: #23de36;
    background-color: #3023de;
    border-radius: 100px;
    padding: 10px;
    transition: all 0.5s cubic-bezier(0, -0.07, 0, 0.91);
}

.vboy-buttons:hover {
    background-color: #05d8e3;
    color: #000;
}

p {
    color: #fff;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto.ttf);
}

a {
    text-decoration: none;
    color: #23de36;
    transition: all 0.5s cubic-bezier(0, -0.07, 0, 0.91);
}

a:hover {
    color: #fff;
}
